@import url('https://fonts.googleapis.com/css2?family=Danfo:ELSH@0..100&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=PT+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-colo: #d4ae80; 
  --black: #13131a;  
  --bg: #010103; 
  --border: 0.2rem solid rgba(255, 255, 255, 0.3); 
  --white: #fff;  
  font-size: 10px;  
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear; /*  segundos para fazer a transiçao */
  font-family: "Roboto", serif; 

}

body {
    background-color: var(--bg)
  }

.header {
    position: fixed;    /* o cabeçalho fica fixo */
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--bg);  /* o fundo fica todo preto, dessa forma 
                                   ao subir a barra de rolar nao ve o fundo */
}


.header section {
      display: flex;    
      align-items: center;
      justify-content: space-between;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;      
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px; /* ele diminue a largura do site, quando voçe 
                          deseja a um espaço nas laterais */
}

.nav-bar a {
     margin: 0 1rem; /*  espaçamento entre eles */
     font-size: 1.8rem;
     color: var(--white);
}

.nav-bar a:hover {
    color: var(--main-colo);
    border-bottom:0.1rem solid var(--main-colo); /*  borda de baixo*/
    padding-bottom: 0.5rem;    /* espaçamneto entre e letra e borda */
    font-size: 2rem;            /* quando voçê clicar na letra aumenta  */ 
}

.icons img {
    margin: 1rem;
    cursor: pointer; 
}

.icons img:hover {
   width: 40px;
   height: 40px;
   letter-spacing: 0.1rem; 
}

.logo img:hover {
   transform: scale(1.1);
}

.home-container {
   background: url(/img/home-img.jpg);
   height: 100vh;
   background-position: center;
   background-size: 100%;
}

.home-container section {
  display: flex;
  align-items: center;
  height: 100vh; 

} 
.content {
  max-width: 60rem;
}

.content h3 {
   color: var(--white);
   font-size: 6rem;
   }

.content p {
  color: var(--white);
  font-size: 2rem;   
  font-weight: 100;   /* a grossura  da fonte  */ 
  line-height: 1.8; /* altura das linhas  */ 
  padding: 1rem 0;
  
}

.btn {
  background-color: var(--main-colo);
  color: var(--white);
  padding: 1rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  margin: 1rem;
  display: inline-block; /* ele vai respeitas a margin  */ 
}

.btn:hover {
   letter-spacing: 0.1rem; /* ao clicar ele tem um efeito de espaçamento nas letras */
   
}
.title {
   color: var(--main-colo);
   font-size: 4rem;
   text-align: center;
   text-transform: uppercase;  /* deixa a letra maiúcula  */ 
   margin-bottom: 4rem;
}

.title span {
  color: var(--white);
  text-transform: uppercase;
}

.about .row {
   display: flex;   /* ele deixa um do lado ou outro */
   align-items: center; 
   background-color: var(--black);
   gap: 1.5rem; /* ele faz o espaçamento */

}

.about .row .content {
   padding: 2rem;

}

.about .row .content h3 {
   font-size: 3rem;
   color: var(--white);
}

.about .row .content p {
    font-size: 1.6rem;
    color: var(--white);
    padding: 1rem 0;
    line-height: 1.8; 
}

.menu .box-container {
   display: grid;  /* e quando temos varios itens e queremos organizar */
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); /* ele separa automaticamente as imagem */
   gap: 1.5rem;
}

.menu .box-container .box {
  text-align: center;
  padding: 5rem;
  border: var(--border); 
 
}

.menu .box-container .box img {
   height: 10rem;

}

.menu .box-container .box h3 {
   color: var(--white);
   font-size: 2rem;
   padding: 1rem 0;
}

.menu .box-container .box .price {
   color: var(--white);
   font-size: 2.5rem;
   padding: 0.5rem 0;
}

.menu .box-container .box .price span {
   font-size: 1.5rem;
   text-decoration: line-through;  /* linha cortando no meio */
   font-weight: 100;  /* espessura da linha line-through */
   
}

.menu .box-container .box:hover {
    background-color: var(--white);
    cursor: pointer;
}

.menu .box-container .box:hover>* {  /* ele muda a cor a  */
   color: var(--black);
}

 /* review */
.box-container {
   display: grid;  /* e quando temos varios itens e queremos organizar */
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); /* ele separa automaticamente as imagem */
   gap: 1.5rem;
}

.review .box-container .box {
   border: var(--border);
   text-align: center;
   padding: 3rem 2rem;
}

.review .box-container .box p {
   font-size: 1.5rem;
   color: var(--white);
   padding: 2rem 0;
   line-height: 1.8;
   font-weight: 100%;
   }
.review .box-container .user {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.review .box-container .box h3 {
   color: var(--white);
   font-size: 2rem;
   margin: 1rem 0;
}

.addrees {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.footer {
   text-align: center;
  }
.footer .share {
  padding: 1rem 0;
  
}  

.footer .share img {
   margin: 0.3rem;
   cursor: pointer;
   border-radius: 50%;
   padding: 1rem;
}

.footer .share img:hover {
   background-color: var(--main-colo);
}

/* Responsividade */

@media screen and (max-width: 650px) {
   .nav-bar, .icons {
      display: none;
   }
   
   .container-img {
     display: none;
   }
 
 .content h3 {
   font-size: 30px;
   text-align: center;
 }

 .content p {
   
   font-size: 2rem;   
   font-weight: 100;   /* a grossura  da fonte  */ 
   line-height: 1.8; /* altura das linhas  */ 
   padding: 1rem 0;
   
 }
 
 .btn {
   padding: 1rem 1rem;
   font-size: 1.7rem;
   margin: 1.4rem;
   justify-items: center;
   
}

.addrees iframe {
   width: 32rem;
}

.logo {
   margin: auto;
}

.logo img:hover {
   transform: scale(1.1);
}

.footer .share img {
   margin: 0.3rem;
   cursor: pointer;
   border-radius: 50%;
   padding: 1rem;
}



}